@import "../../../res/vars.scss";
@import "./header/menu.scss";


.home-header {
    background-color: $choco-cosmos;
    width: 100%;
    padding-bottom: 10px;
}

.hh-title {
    padding: 40px 10px 10px;
    // margin-top: 10px;
    color: $cream;
    font-weight: bold;
    font-family: $font-title;
}

.hh-title label {
    font-size: 32px;
}

.hh-options {
}

.hh-options li {

    
}
