@import "../../../res/vars.scss";


.home-header {
    background-color: $choco-cosmos;
    width: 100%;
}

.hh-title {
    padding: 40px 10px 10px;
    // margin-top: 10px;
    color: $cream;
    font-weight: bold;
    font-family: $font-title;
}

.hh-title label {
    font-size: 32px;
}

.hh-options {
    display: flex;
    padding: 10px;
}

.hh-options button {
    padding: 2px;

    &:nth-of-type(2) {
        margin-left: 10px;
    }
}

.hh-options button img {
    width: 28px;
}